html
    head
        title= Title
        link(rel='stylesheet', href='/stylesheets/index.css')  
    body
        if role ==='faculty' || role ==='student'
            h3#resultHeader #{role}: #{userID}
        else
            h3#resultHeader #{role}
        
        if role ==='faculty' || role ==='registrar'
            if courses.length === 0
                p#noResult No Result for: #{userID} || Faculty ID not in Database
            else if courses.length > 0
                table(class='resultTable')
                    thead
                        tr
                            each key in Object.keys(courses[0])
                                th= key
                    tbody 
                        each course in courses
                            tr
                                each val in Object.values(course)
                                    td= val
        else if role === 'student'
            if courses.length === 0
                p#noResult No Result for: #{userID} || Student ID not in Database
            else if courses.length > 0
                table#resultTable
                    thead
                        tr
                            each key in Object.keys(courses[0])
                                if key !== 'OfferNo'
                                    th= key
                            
                            th Remove Course
                    tbody 
                        each course in courses
                            tr
                                each val in Object.values(course)
                                    if val !== course.OfferNo
                                        td= val

                                td
                                    form#delete-form(method="POST", action="/delete-enrollment")
                                        input(type="hidden", name="StdSSN", value=userID)
                                        input(type="hidden", name="OfferNo", value=course.OfferNo)
                                        button(type="submit") Delete
            form#add-form(method="POST", action="/student-add")
                button(type="submit") Add Course
