doctype html
html
    head
        title= Title
        link(rel='stylesheet', href='/stylesheets/index.css') 
    body
        if role ==='faculty' || role ==='student'
            h3#resultHeader #{role}: #{userID}
        else
            h3#resultHeader #{role}
        
        if role ==='faculty' || role ==='registrar'
            if courses.length === 0
                p No Result for: #{userID} || Faculty ID not in Database
            else if courses.length > 0
                table(class='resultTable')
                    thead
                        tr
                            each key in Object.keys(courses[0])
                                th= key
                    tbody 
                        each course in courses
                            tr
                                each val in Object.values(course)
                                    td= val
        else if role === 'student'
            if courses === 0
                p No Result for: #{userID} || Student ID not in Database
            else if courses.length > 0
                table(class='resultTable')
                    thead
                        tr
                            each key in Object.keys(courses[0])
                                th= key
                            th Remove Course
                    tbody 
                        each course in courses
                            tr
                                each val in Object.values(course)
                                    td= val
                                td 
                                    button(onclick='delStdCourse(#{userID})')#delButton Delete